{% extends 'blog/base.html' %}

{% block content %}

<h1>Registry</h1>

<div class="clearfix3">
  <h3>Donating to charities</h3>
      <img class="image2" src="https://imgur.com/mDFeXz0.png">
      <p>We are fortunate enough to have everything we need. A contribution to your favorite charity in our honor is a wonderful way to commemorate our special day. We have listed a few of our favorite charities below. All of our chosen charities have been recognized for using their donations effectively.</p>

      <p><a href="https://secure.ucsusa.org/onlineactions/dR5QqmX2uUCLCFD1KkVEzg2?MS=topnav">Union of Concerned Scientists</a>

      <p>The Union of Concerned Scientists focuses on applying scientific research and methods to develop and implement innovative, practical solutions to the Earth's most pressing problems, from slowing climate change to developing sustainible agriculture and transportation.</p>

      <p><a href="https://secure.americares.org/site/Donation2?df_id=17060&17060.donation=form1">Americares</a>

      <p>Americares provides emergency services for natural disasters, access to medicine and clinical services, and supports community health around the world.</p>

</div>

<div class="clearfix3">
  <h3>Registries</h3>
      <img class="image1" src="https://imgur.com/FwQoPed.png">
      <img class="image2" src="https://imgur.com/Zwj1vrw.png">
      <p>If you would like to give a gift, we are registered at the following places. If you decided to give a donation to a charity in our name, please don't also get us a physical gift!</p>
      <p><a href="https://www.amazon.co.uk/registry/wedding/NEQH2OIMIMFV/ref=cm_sw_r_cp_ep_wr_dKnkAbETXH2R8">Amazon UK</a>
</div>

{% endblock %}
