h1 a {
    color: #000000;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
}

body {
    text-align: center;
    margin: 0;
}

.centered-text {
  display: flex;
  height: 200px;
  align-items: center;
  font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
  color: "black";
}

.paragraph {
  padding-bottom: 50px;
  display: flex;
}

.image3 {
  float: left;
  margin-right: 15px;
  height: auto;
  width: auto;
  max-height: 600px;
  border-radius: 25px;
}

.image4 {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 0 15px 0 15px;
  max-height: 400px;
  width: auto;
}

.rotate_90 {
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}

.rotate_180 {
  transform:          rotate(180deg);
  -ms-transform:      rotate(180deg);
  -moz-transform:     rotate(180deg);
  -webkit-transform:  rotate(180deg);
  -o-transform:       rotate(180deg);
}

.rotate_270 {
  transform:          rotate(270deg);
  -ms-transform:      rotate(270deg);
  -moz-transform:     rotate(270deg);
  -webkit-transform:  rotate(270deg);
  -o-transform:       rotate(270deg);
}

.page-header {
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(https://imgur.com/cV7Tj6R.png);
  max-height: 200px;
  min-width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 3rem 0px 3rem 0px;
  text-align: left;
  font-size: 36pt;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 4rem;
    text-decoration: none;

    padding-left: 90px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    display:block;
}

p {
    font-size: 16pt;
    font-family: 'Raleway', 'Vollkorn SC', 'Dancing Script';
    display:block;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.nav-area {
  height: 100%;
  width: 250px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.hamburger {
  text-align: left;
}

.hamburger-mobile {
  text-align: right;
  display: none;
}

.menu {
  text-align: center;
  text-decoration-color: #000000;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: -220px;
    top: 185px;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    text-decoration-color: #000000;
    line-height: auto;
    background: rgba(204, 204, 204, 0);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav:hover {
    width: 30%;
    padding: 60px 8px 8px 32px;
    left: 0;
    top: 0;
    text-decoration: none;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    font-size: 2rem;
    list-style: none;
    text-decoration-color: #000000;
    display: block;
    transition: 0.5s;
    background-color: #D2D5D6;
}

.sidenav:hover .hamburger {
  display: none;
}

.closebtn {
  display: none;
}

a {
  color: #CA9BFA);
}

#container_wide {
  width: 100%;
  display: block;
}

.container{
    width: 50%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.middle {
  display: block;
  margin: auto;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#floated{
    width: 50%;
}

@media screen and (min-width: 760px){
  .vcenter {
      display: flex;
      flex-direction: row;
      align-items: center;
      float: none;
  }

  .more-space-paragraph {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 770px) {

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      font-size: 20pt;
      padding-left: 10px;
  }

  .page-header {
    padding-top: 20px;
    max-height: 20px;
  }

  h1, h2, h3, h4 {
    padding-top: 0px;
    margin-top: .1em;
    margin-bottom: .1em;
  }

  h1 {
    font-size: 20;
  }

  h2 {
    font-size: 18;
  }

  h3 {
    font-size: 16;
  }
  p {
    font-size: 14;
  }

  .image3 {
    max-width: 100%;
    height: auto;
  }

  .sidenav {
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -29;
      background-color: #D2D5D6;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 100px 0px 8px 3px;
      text-decoration: none;
  }

  .sidenav a {
      padding: 8px 0px 8px 20px;
      text-decoration: none;
      font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
      color: #818181;
      display: block;
      transition: 0.3s;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    #mySidenav {
    padding: 100px 8px 8px 20px;
    text-decoration: none;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    font-size: 12pt;
    list-style: none;
    text-decoration-color: #000000;
    display: block;
    transition: 0.5s;
    background-color: #D2D5D6;
    line-height: normal;
  }
