h1 a {
    color: #000000;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
}

body {
    text-align: center;
    margin: 0;
}

.centered-text {
  display: flex;
  height: 200px;
  align-items: center;
  font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
  color: "black";
}

.paragraph {
  padding-bottom: 50px;
  display: flex;
}

.more-space-paragraph {
  padding-bottom: 50px;
  padding-top: 05px;
}

.image1 {
  float: right;
  margin-left: 15px;
  height: auto;
  width: auto;
  max-height: 300px;
  border-radius: 25px;
}

.image2 {
  float: left;
  margin-right: 15px;
  height: auto;
  width: auto;
  max-height: 300px;
  border-radius: 25px;
}

.image3 {
  float: left;
  margin-right: 15px;
  height: auto;
  width: auto;
  max-height: 800px;
  border-radius: 25px;
}

.container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
  background-color: "white";
}

.container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
  background-color: "white";
}

.col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
  background-color: "white";
  font-size: 16;
}
.col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
  background-color: "white";
  font-size: 16;
}

.clearfix3 {
  overflow: auto;
  font-family: 'Raleway', 'Vollkorn SC', 'Dancing Script';
  font-size: 16pt;
  width: 100%;
}

.page-header {
  background-image: url(https://imgur.com/cV7Tj6R.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  max-height: 165px;
  min-width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 50px;
  text-align: left;
  font-size: 36pt;
  text-decoration-color: "white";
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #white;
    font-size: 48pt;
    text-decoration: none;
    padding-left: 100px;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
}

p {
    font-size: 16pt;
    font-family: 'Raleway', 'Vollkorn SC', 'Dancing Script';
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.nav-area {
  height: 100%;
  width: 250px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.hamburger {
  text-align: left;
}

.hamburger-mobile {
  text-align: right;
  display: none;
}

.menu {
  text-align: center;
  text-decoration-color: #000000;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: -220px;
    top: 185px;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    text-decoration-color: #000000;
    line-height: auto;
    background: rgba(204, 204, 204, 0);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav:hover {
    width: 250px;
    padding: 60px 8px 8px 32px;
    left: 0;
    top: 0;
    text-decoration: none;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    font-size: 20pt;
    list-style: none;
    text-decoration-color: #000000;
    display: block;
    transition: 0.5s;
    background-color: #D2D5D6;
}

.sidenav:hover .hamburger {
  display: none;
}

.closebtn {
  display: none;
}

a {
  color: #3AE8E8;
}

@media screen and (max-width: 760px) {

  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
      font-size: 20pt;
      padding-left: 2px;
  }

  .page-header {
    padding-top: 20px;
    max-height: 20px;
  }

  h1, h2, h3, h4 {
    padding-top: 0px;
    margin-top: .1em;
    margin-bottom: .1em;
  }

  /*.hamburger-mobile {
    text-align: left;
    display: flex;
  }*/

  .sidenav {
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -20;
      background-color: #D2D5D6;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 100px 8px 8px 3px;
      text-decoration: none;
  }

  .sidenav a {
      padding: 8px 8px 8px 20px;
      text-decoration: none;
      font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
      font-size: 12pt;
      color: #818181;
      display: block;
      transition: 0.3s;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    #mySidenav {
    padding: 100px 8px 8px 20px;
    text-decoration: none;
    font-family: 'Spectral SC', 'Raleway', 'Vollkorn SC', 'Dancing Script';
    font-size: 12pt;
    list-style: none;
    text-decoration-color: #000000;
    display: block;
    transition: 0.5s;
    background-color: #D2D5D6;
    line-height: normal;
  }
/*
  .sidenav {
      width: 100px;
      padding: 100px 8px 8px 3px;
      font-size: 12pt;
      line-height: normal;
  }

  .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }
  .sidenav a {font-size: 18px;}
}*/
