{% extends 'blog/base.html' %}

{% block content %}

    <h1>We are looking forward to celebrating with you on July 23, 2018!</h1>

<div class="clearfix3">
  <img class="image3" src="https://imgur.com/ZzqEGsU.png">
      <div>
        <p>We will be having a casual brunch on Tuesday, July 24th in the morning for all guests over 35, and a gathering in the evening for all guests under 35. Please take this into account when you book your travel, as we'd love to spend more time with you!</p>
        <h2>Wedding Details</h2>
          <p>Ceremony and reception</p>
          <p>4:00 pm to 11:00 pm</p>
          <p>Monday, July 23rd, 2018</p>
          <p>Syon House and Conservatory</p>
          <p>Brentford, United Kingdom, TW8 8JF</p>
          <p>Cocktail attire</p>
      </div>
</div>

<br /><br />

<div class="clearfix3">
  <img class="image2" src="https://imgur.com/G8Zc37I.png"><img class="image1" src="https://imgur.com/kAFBJz2.png">
      <div class="centered-text">
        <p>There will be dinner, dancing, cake, and ice cream!</p>
      </div>
</div>

{% endblock %}

<div class="clearfix3">
  <img class="image2" src="https://imgur.com/YcwAO0i.png">

</div>
