{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'about' %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %} -->

  <h1>About us</h1>
<br />
<div class="row">
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2013_2_nyc.jpg' %}" alt="https://imgur.com/czyUqrw.png" style="float:left">
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <span><h2>How we met</h2>
        <p>In January of 2013, Ari was a few years into his PhD, and Julia was taking a year to work between college and dental school, both living in the Boston area. Thanks to the magic of OkCupid, they met one cold evening for a drink in Harvard Square, and had an awesome first date. They continued dating as Julia went off to dental school in New York, looking forward to living in the same city again. In the spring of 2016, Ari was offered a job in London that was too good to pass up. Ari moved in the fall of 2016, and Julia joined him in the spring of 2017, wrapping up four years of long distance. It was just before the last year of long distance that they got engaged.</p></span>
  </div>
</div>

<hr style="height:10px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <span>
      <h2>The Proposals</h2>
      <p>Ari and Julia officially decided to get married when they were on a trip to DisneyWorld in July, 2016. Not to get too romantic or anything, but there were fireworks going off, and Beauty and the Beast was playing.</p>
    </span>
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2017_Disneyland_Paris.jpg' %}" alt="https://imgur.com/o1GBoeB.png">
  </div>
</div>

<hr style="height:40px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 order-md-2 order-sm-2 vcenter">
    <p>Ari planned a proposal for Julia the following month, which involved a surprise trip to Capri, Italy, and a picnic involving a lot of cheese. Ari was going to wait until they had eaten to propose, but he couldn't keep it in any longer! He surprised her with a ring of his own design, built around Julia's great-grandmother's diamond.</p>
  </div>
  <div class="col-sm-6 col-md-6 order-md-1 order-sm-1 vcenter">
    <img class="image4" src="{% static 'photos/2016_Capri.jpg' %}" alt="https://imgur.com/o1GBoeB.png" style="float:left">
  </div>
</div>

<hr style="height:10px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <p>Julia surprised Ari with a trip to Copenhagen, Denmark two months later. She planned a scavenger hunt with clues leading to different activities and landmarks throughout the city, ending with popping the question on a ferris wheel in the world's second-oldest amusement park with a wooden ring she made herself.</p>
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2016_Oct_Copenhagen.jpg' %}" alt="https://imgur.com/x2etQmw.png" style="float:right">
  </div>
</div>


{% endblock %}
