{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

  <h1>About us</h1>
<br />
<div class="row">
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2013_2_nyc.jpg' %}" alt="https://imgur.com/czyUqrw.png" style="float:left">
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <span><h2>How we met</h2>
        <p>In January of 2013, Ari was a few years into his PhD, and Julia was working at a research lab; they were both living in the Boston area. Thanks to the magic of OkCupid, they met one cold evening for a drink in Harvard Square, and had an awesome first date. They continued dating as Julia went off to dental school in New York the following September, expecting that they'd live in the same city again soon. But, after three years of being apart, in the spring of 2016, Ari was offered a job in London that was too good to pass up. Ari moved in the fall of 2016, and Julia finally joined him in the spring of 2017, wrapping up four years of long distance.</p></span>
  </div>
</div>

<hr style="height:10px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <span>
      <h2>The Proposals</h2>
      <p>Ari and Julia officially decided to get married when they were on a trip to DisneyWorld in July 2016. Not to get too romantic or anything, but there were fireworks going off, and "Beauty and the Beast" was playing. They then agreed to propose to each other in memorable ways over the coming months.</p>
    </span>
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2017_Disneyland_Paris.jpg' %}" >
  </div>
</div>

<hr style="height:40px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 order-md-2 order-sm-2 vcenter">
    <p>Ari planned a proposal for Julia the following month, which involved a surprise trip to Capri, Italy, and a picnic involving a lot of cheese. Ari was going to wait until they had eaten to propose, but he couldn't keep it in any longer! He surprised her with a beautiful ring that he designed, built around Julia's great-grandmother's diamond.</p>
  </div>
  <div class="col-sm-6 col-md-6 order-md-1 order-sm-1 vcenter">
    <img class="image4" src="{% static 'photos/2016_Capri_woods.jpg' %}" style="float:left">
  </div>
</div>

<hr style="height:10px; visibility:hidden;" />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <p>Julia surprised Ari with a trip to Copenhagen, Denmark, two months later. She planned a scavenger hunt with clues leading to different activities and landmarks throughout the city, ending with Julia popping the question on a Ferris wheel in the world's second-oldest amusement park. She offered Ari a wooden ring she had made herself.</p>
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2016_Oct_Copenhagen.jpg' %}" style="float:right">
  </div>
</div>


{% endblock %}
