{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


<h1>Things to do around London</h1>
<div class=row>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/british_museum.jpg' %}">
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <span style="text-align:center">
      <h2>Ari and Julia's suggestions for events and activities during your trip</h2>
      <p>Museums:</p>
      <p>There are tons of museums througout London, and most of them have free entry. These are our two favorites.</p>
      <p><a href="http://www.britishmuseum.org/">The British Museum</a> - a museum of all the things that the British have stolen from other nations over the centuries. A very cool collection, including the Rosetta Stone, Easter Island statues, and a big Egypt exhibit. Entry is free.</p>
    </span>
  </div>
</div>

<p><a href="http://www.iwm.org.uk/visits/iwm-london">The Imperial War Museum</a> - details the two world wars in an engaging and not-overwhelming way. The museum was initially built just after the first world war, but has been updated continuously since then. Entry is free.</p>

<br />

<div class="row">
  <div class="col-md-6 order-md-2 col-sm-12 vcenter">
    <img class="image4" src="{% static 'photos/kew_treetop.jpg' %}">
  </div>
  <div class="col-md-6 order-md-1 col-sm-12 vcenter">
    <span class="middle" style="text-align: center"><h2>Parks and Places to See</h2>
      <p>London has a ton of great parks!</p>
      <p><a href="https://www.royalparks.org.uk/parks/hyde-park">Hyde Park</a> is the obvious first recommendation. It is centrally located, and features a rose garden near the Hyde Park Corner Tube station, and lots of different birds (including swans).</p>
      <p><a href="https://www.kew.org/">Kew Gardens</a> is farther from Central London, but absolutely breathtaking. They have a greenhouse with tropical plants, and a treetop walkway which gives views of the garden from the tops of the trees. Tickets are £18 if you buy them at the door; £16 if you buy them online. Discounts are available for students and people under 17 or over 60. Entry is free.</p>
  </div>
</div>

<p><a href="https://www.hrp.org.uk/tower-of-london/visit/">The Tower of London</a> has awesome tours lead by Beefeaters (the guards of the crown jewels, all with at least 22 years of service in the army) through the grounds. And, of course, the crown jewels are there, which is Julia's favorite thing to see in London. They're so sparkly! Tickets are £24.80 at the door, but £21.50 online. That price includes the tour and entrance to see the crown jewels. Discounts are available for students, and people under 16 or over 60.</p>

<div class=row>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/national_theater.jpg' %}">
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <span style="text-align:center">
      <h2>Theater</h2>
      <p>There are a plethora of plays and musicals to choose from. The West End is London's Broadway, and many of the same shows are playing. The <a href="https://www.nationaltheatre.org.uk/">National Theater</a> puts on great productions, some of which are more on the experimental side.</p>
      <p><a href="https://www.todaytix.com/">TodayTix</a> has an app and a website where you can find very reasonably-priced tickets. You can also enter same-day lotteries for most of the shows through the app.</p>
    </span>
  </div>
</div>

{% endblock %}
