{% load static %}
<html>
    <head>
        <title>A+J</title>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Spectral+SC|Vollkorn+SC" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="icon" href="http://www.pvhc.net/img240/vxmyxqmneygccdrcfzfz.png">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <script>
        function openNav() {
          document.getElementById(".sidenav:hover").style.width = "250px";
        }
        function triggerHover() {
          $(".sidenav:hover").trigger("hover");
        }
        function closeNav() {
          document.getElementById(".sidenav:hover").style.width = "0px";
        }
        </script>
        <style type="text/css">
            .sidenav a {
              text-decoration: none;
              color: #000000;
            }

            .sidenav a:hover {
              text-decoration: none;
              color: #5F91E8;
              transition: 0.3s;
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
      {% block title %}

    <div class="page-header">
        <h1><a href="/">Julia and Ari</a></h1>
    </div>
    {% endblock %}

          <div class="sidenav">
            <span class="hamburger">
              <h1>
                &#9776;
              </h1>
            </span>

            <span class="closebtn"
              onclick="closeNav()">
                &times;
            </span>

            <span class="menu">
              <nav>
                  <a href="{% url 'home' %}">Home</a><br  />
                  <hr style="height:10px; visibility:hidden;" />
                  <a href="{% url 'about' %}">About Us</a><br  />
                  <hr style="height:10px; visibility:hidden;" />
                  <a href="{% url 'hotels' %}">Travel and Lodging</a><br  />
                  <hr style="height:10px; visibility:hidden;" />
                  <a href="{% url 'registry' %}">Registry</a><br  />
                  <hr style="height:10px; visibility:hidden;" />
                  <a href="{% url 'photos' %}">Wedding Party</a><br  />
              </nav>
            </span>

            <span class="hamburger-mobile" onclick="openNav()">&#9776;</span>

          </div>


    <div class="center">
            {% block content %}
            {% endblock %}
    </div>
</body>

<footer>
  <span>©️Julia Caine 2017</span>
</footer>
</html>
