{% load staticfiles %}
<html>
    <head>
        <title>A+J</title>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Spectral+SC|Vollkorn+SC" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="icon" href="http://www.pvhc.net/img240/vxmyxqmneygccdrcfzfz.png">
        <link rel="stylesheet" href="{% staticfiles 'css/blog.css' %}">

        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        function triggerHover() {
          $("#mySidenav").trigger("hover");
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0px";
        }
        </script>
  </head>

  <body>
      {% block title %}

    <div class="page-header">
        <h1><a href="/">Julia and Ari</a></h1>
    </div>
    {% endblock %}

          <div id="mySidenav" class="sidenav">
            <span class="hamburger">
              <h1>
                &#9776;
              </h1>
            </span>
            <span class="menu">
              <nav>
                <a href="{% url 'home' %}">Home</a><br  />
                <a href="{% url 'about' %}">About Us</a><br  />
                <a href="{% url 'hotels' %}">Travel and Lodging</a><br  />
                <a href="{% url 'registry' %}">Registry</a><br  />
                <a href="{% url 'photos' %}">Wedding Party</a><br  />
              </nav>
            </span>
          </div>


    <div class="center">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
