{% extends 'blog/base.html' %}
{% load static %}

{% block content %}



<div class=row>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image3 middle" src="{% static 'photos/2017_Dec_Disney.jpg' %}" alt="https://imgur.com/ZzqEGsU.png">
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <span><h1>We are looking forward to celebrating with you on July 23, 2018!</h1>
    <br /><br />
    <p>In addition to a dinner before the wedding, we will be having a casual brunch on Tuesday, July 24th in the morning for all of our "adult" guests (if you're closer to our parent's ages), and a gathering in the evening for all of our "kid" guests (if you're closer to our age). Please take this into account when you book your travel, as we'd love to spend more time with you!</p></span>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <span class="middle"><h2>Wedding Details</h2>
      <p>Ceremony and reception</p>
      <p>4:00 pm to 11:00 pm</p>
      <p>Monday, July 23rd, 2018</p>
      <p>Syon House and Conservatory</p>
      <p>Brentford, United Kingdom, TW8 8JF</p>
      <p>Cocktail attire</p></span>
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2017_Nov_SF2.jpg' %}" alt="https://imgur.com/G8Zc37I.png">
  </div>
</div>

<br /><br />

<div class="row">
  <div class="col-sm-6 col-md-6 vcenter">
    <img class="image4 middle" src="{% static 'photos/2015_Jan_Paris_icecream.jpg' %}" alt="https://imgur.com/kAFBJz2.png">
  </div>
  <div class="col-sm-6 col-md-6 vcenter">
    <p>There will be dinner, dancing, cake, and ice cream!</p>
  </div>
</div>

</div>

{% endblock %}
