{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <h1>Travel and Lodging</h1>
<div></div><br />

<div class="row">
  <div class="col-sm-12 col-md-4 vcenter">
    <img class="image4" src="{% static 'photos/2017_Jun_Tahoe.jpg' %}" alt="https://imgur.com/fU5o1TR.png">
  </div>
  <div class="col-sm-12 col-md-8 vcenter">
    <span><h2>Hotels</h2>
    <p>There is a Hilton on the Syon Park property, which we advise that you stay at on Monday night. You can follow <a href="http://eventsathilton.com/show/5a0c4288ea6f1575c6e608e8">this link</a> to get 15% off of the current room rate. With our discount, the current price is £143 for a queen room. If you have a different discount code you'd like to use (such as Hilton Honors points or AAA), just be sure to put "Morcos/Caine Wedding" in the comments section for your booking so the hotel can try to get you early check-in.</p>
    </span>
  </div>
</div>

<p>The hotel has guaranteed check-in at 3:00 p.m., although they have said they will do their best to allow everyone in our party to check in by 2:00 p.m so you don't have to rush to get ready for the wedding, which starts at 4:00. It is a five-minute walk door-to-door from the hotel to the venue.</p>

<p>We suggest that you stay in Central London for the rest of your visit, as the Syon Park Hilton is pretty far out of the way from main sightseeing attractions.
</p>


<br />

<div class="row">
  <div class="col-sm-12 col-md-8 vcenter">
    <span>
      <h2>How to get there</h2>
      <p>To get to Syon Park from Central London on public transport, take the Piccadilly line toward Heathrow and get off at Boston Manor station. As you exit the station, go to the bus stop right in front of you (stop N) and take bus E8 to Syon Lane (stop W). Walk down the narrow brick-lined road to the entrance of Syon Park. It takes around an hour and 15 minutes to get there from Kings Cross station.</p>
      <p>You can also take a cab or an Uber, which should be around £30 and take 45 minutes.</p>
      </span>
  </div>
  <div class="col-sm-12 col-md-4 vcenter">
    <img class="image4" src="{% static 'photos/2017_DM_fieldday.jpg' %}">
  </div>
</div>

<p>Keep in mind that the Tube closes at midnight on weekdays, so factor that into your plans if you are staying in Central London, rather than Syon Park, on the night of the wedding.</p>

<br /><br />

<h2>General Travel Information (Optional Reading!)</h2>

<div class="row">
  <div class="col-sm-12 col-md-4 vcenter">
    <img class="image4" src="{% static 'photos/2017_Jan_BallieBallerson.jpg' %}" alt="https://imgur.com/njBC0zj.png">
  </div>
  <div class="col-sm-12 col-md-8 vcenter">
    <span><h3>Recommended Airlines</h3>
      <p>At this point, we (Ari and Julia) have flown back and forth to the States a number of times. Our suggestion for a reliable budget airline is Norwegian Air. They frequently have round-trip tickets for under $400 to the East Coast. They are our favorite budget airline -- meaning that they don't provide meals or drinks (besides water), no checked bag, your carry-on bag has a weight limit, the seats recline very little, and there is less legroom. But the planes are all new Boeing 737 or 787s, and they have pretty good entertainment on board.</p>

      </span>
  </div>
</div>

<p>Our favorite non-budget airline is Virgin Atlantic. We have found that it was possible to get a round-trip ticket from NYC to London for $500 (I think it was closer to $700 from Boston), as long as we booked it three months in advance. They provide meals and drinks on board, allow a checked bag, and the seats recline a fair amount. (Unfortunately, we have not been paid by Virgin to promote them!)</p>

<div class="row">
  <div class="col-sm-12 col-md-6 order-md-2 vcenter">
    <img class="image4" src="{% static 'photos/2014_4_picking.jpg' %}"  />
  </div>
  <div class="col-sm-12 col-md-6 order-md-1 vcenter">
    <span><h3>London Airports</h3>
      <p>London has many airports. We have flown into Heathrow and Gatwick from the US. To get to Central London from Heathrow, take a cab or the Underground. The Piccadilly line takes a while, but it goes straight there. The Heathrow Express is not worth it. The Heathrow Connect is great if you are going somewhere with easy connections through Paddington station. To get to Central London from Gatwick, take a train (Southern or Thameslink). These trains are so great and quick, a cab doesn't improve the journey much. </p></span>
  </div>
</div>

    <h3>Currency Exchange</h3>
      <p>Our recommendation when it comes to changing currencies is to get a US credit card that has no foreign exchange fees and use that. Keep in mind that Visa and MasterCard are accepted more widely than American Express. If you are asked if you want the card charged in pounds or dollars, choose pounds to get the bank exchange rate. You may also want to take out cash in advance from your bank in the U.S. (they usually charge a $5 fee, so try to only do it once). The only places you'll really need cash is if you go to a small café or a market. At this point, all large restaurants, cabs, and stores accept credit cards. </p>




{% endblock %}
