{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<h1>Schedule of Events</h1>

<div class="row">
  <div class="col-sm-12 col-md-6 vcenter">
    <span><h2>Shabbat Dinner</h2>
      <p>Claire and Dan Caine would like to invite you to have Shabbat dinner with them.</p>
      <span style="text-align:center">
        <p><a href="http://www.cacioepepe.co.uk/">Cacio e Pepe Restaurant</a></p>
        <p>46 Churton Street, London SW1V 2LP</p>
        <p>Friday, July 20th, 2018<p>
        <p>7:00 pm</p>
        <p>Semiformal attire</p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2016_Dec_DescansoGardens.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 order-md-2 vcenter">
    <span><h2>Welcome Dinner</h2>
      <p>Tova Morcos and Jared Kliger would like to invite you to join us for dinner on Sunday, July 22nd.</p>
      <span style="text-align:center">
        <p><a href="https://www.swanlondon.co.uk/">The Swan Restaurant at the Globe Theater</a></p>
        <p>Sunday, July 22nd, 2018</p>
        <p>7:00 pm</p>
        <p>21 New Globe Walk, London SE1 9DT<p>
        <p>Semiformal attire</p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 order-md-1 vcenter">
    <img class="image4 middle" src="{% static 'photos/2017_Dec_Disney.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 middle vcenter" style="padding-left:8%">
    <span><h2>The Wedding!</h2>
      <span style="text-align:center">
        <p>The ceremony and the reception are both at Syon Park.</p>
        <p>4:00 p.m. Ceremony</p>
        <p>4:30 p.m. Cocktail reception<p>
        <p>5:30 p.m. Dinner and dancing, followed by cake, ice cream, and late-night munchies<p>
        <p>The reception ends at 11:00 p.m.<p>
        <p>Cocktail attire</p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2017_Nov_SF.jpg' %}">
  </div>
</div>

<p>
  After the wedding, we want to have eveyone over at our apartment, but it's not big enough to hold everyone at once. So we decided to have two events, divided by approximate age group. Come to whichever you prefer, and use the guidelines to decide which one that is.
</p>

<div class="row">
  <div class="col-sm-12 col-md-6 order-md-2 vcenter">
    <span><h2>Tuesday Brunch</h2>
      <p>We'll be having a casual brunch at our apartment on the morning after the wedding. We want to show you around our home!</p>
    <span style="text-align:center">
        <p>Tuesday, July 24th, 2018<p>
        <p>10:30 am to 2:30 pm<p>
        <p>Flat A, 46 Langdon Park Road, N6 5QG<p>
        <p>Take the  High Barnet branch of the Northern Line (black) to the Highgate stop, then walk<p>
        <p>Or take an uber or a cab!<p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 order-md-1 vcenter">
    <img class="image4 middle" src="{% static 'photos/2013_1_rock.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 vcenter">
    <span><h2>Tuesday Night Gathering</h2>
      <p>A relaxed gathering of people around our age (think 15-45) at our apartment. Pizza and drinks will be served.</p>
      <span style="text-align:center">
        <p>Tuesday, July 24th, 2018<p>
        <p>6:30 pm to bedtime<p>
        <p>Flat A, 46 Langdon Park Road, N6 5QG<p>
        <p>Follow the same transit instructions from above, and/or use google maps<p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/Dash.jpg' %}">
  </div>
</div>

{% endblock %}
