{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <h1>Wedding Party</h1>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Maid of Honor</h2>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class="image1" src="{% static 'photos/Rachel.jpg' %}" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Rachel Insoft</h3>
              <p>Rachel and Julia met in 1995, when the Caines moved into the house two doors down from Rachel. They have been best friends ever since.</p>
          </span>
        </div>
      </div>
<br />
    <h2>Bridesmaids</h2>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class="image1" src="{% static 'photos/Rebecca.jpg' %}" alt="https://imgur.com/hqpPUWU.png" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Rebecca Caine</h3>
              <p>Rebecca is Julia's older sister who taught her how to play Set and make friendship bracelets. Rebecca is Julia's inspiration for embracing the surprising turns life can take (like moving to another country).</p>
          </span>
        </div>
      </div>
<br />
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class="image1" src="{% static 'photos/Anna.jpg' %}" alt="https://imgur.com/G1EVa70.png" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Anna Caine</h3>
            <p>Anna is Julia's younger sister who taught her how to play Dominion and make friends. Julia admires Anna's enthusiasm for the things she enjoys.</p>
          </span>
        </div>
      </div>
<br />
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class="image1" src="{% static 'photos/Dahlia.jpg' %}" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Dahlia Greenbaum</h3>
            <p>Dahlia is Ari's older sister who lives in LA with her husband, Daniel, her daughter, Shalva, and her son, Azriel. Dahlia is a really cool person who Julia loves spending time with. </p>
          </span>
        </div>
      </div>
</div>

  <div class="col-sm-12 col-md-6">
    <h2>Best Men</h2>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class='image1' src="{% static 'photos/Jacob.jpg' %}" alt="https://imgur.com/qUsUPgA.png" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Jacob Newman</h3>
              <p>Jacob and Ari became friends in high school in LA, and lived together for a year in Boston. Jacob now lives with his wife Kendrice in Boston.</p>
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class="image1" src="{% static 'photos/Alex.jpg' %}" alt="https://imgur.com/RCXFIQC.png" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Alex Trott</h3>
            <p>Alex and Ari became lunch buddies throughout their PhD program, eating lunch together every day for four years. Alex lives with his wife Leah in San Francisco.</p>
          </span>
        </div>
      </div>
<br />
    <h2>Groomsman</h2>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <img class='image4 middle' src="{% static 'photos/Ben.jpg' %}" alt="https://imgur.com/AMZ2BEt.png" />
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6 vcenter">
          <span>
            <h3>Ben Caine</h3>
            <p>Ben is Julia's younger brother, who taught her to relax in college when she was too high-strung. Ben and Ari bonded over computer things and both working for Alphabet companies.</p>
          </span>
        </div>
      </div>
  </div>
</div>

{% endblock %}
