{% extends 'blog/base.html' %}

{% block content %}

    <h1>Wedding Party</h1>
<div class="container2">


  <div class="container1">
      <div class="col1">
        <h2>Maid of Honor</h2>
          <div class='more-space-paragraph'>
            <img class='image2' src="https://imgur.com/C8KU3X3.png" /><h3>Rachel Insoft</h3>
              <div class='centered-text'><p>Rachel and Julia met in 1995, when the Caines moved into the house two doors down from Rachel. They have been best friends ever since.</p>
              </div>
          </div>

          <h2>Bridesmaids</h2>
            <div class='more-space-paragraph'>
              <img class='image2' src="https://imgur.com/hqpPUWU.png" /><h3>Rebecca Caine</h3>
                <div class='centered-text'><p>Rebecca is Julia's older sister who taught her how to play Set and make friendship bracelets. Rebecca is Julia's inspiration for embracing the surprising turns life can take. (Like moving to another country.)</p>
                </div>
            </div>
            <div class='more-space-paragraph'>
              <img class='image2' src="https://imgur.com/G1EVa70.png" /><h3>Anna Caine</h3>
                <div class='centered-text'><p>Anna is Julia's younger sister who taught her how to play Dominion and make friends. Julia admires Anna's enthusiasm for the things she enjoys.</p>
                </div>
            </div>
            <div class='more-space-paragraph'>
              <img class='image2' src="https://imgur.com/xQiuki2.png" /><h3>Dahlia Greenbaum</h3>
                <div class='centered-text'><p>Dahlia is Ari's older sister who lives in LA with her husband, Daniel, and her daughter, Shalva. Dahlia is a really cool person who Julia loves spending time with. </p>
                </div>
            </div>
      </div>

      <div class="col2">
        <h2>Best Men</h2>
          <div class='more-space-paragraph'>
          <img class='image1' src="https://imgur.com/qUsUPgA.png" /><h3>Jacob Newman</h3><br  /><br />
          <div class='centered-text'><p>Jacob and Ari became friends in high school in LA, and lived together for a year in Boston. Jacob lives in Boston with his wife Kendrice, where he is a software engineer at TripAdvisor.</p>
          </div>
        </div>
        <div class='more-space-paragraph'>
        <img class='image1' src="https://imgur.com/RCXFIQC.png" /><h3>Alex Trott</h3>
        <div class='centered-text'><p>Alex and Ari became lunch buddies throughout their PhD program, eating lunch together every day for four years. Alex currently lives in San Francisco with his wife Leah, where he works at SalesForce.</p>
        </div>
      </div>
      <h2>Groomsman</h2>
        <div class='more-space-paragraph'>
        <img class='image1' src="https://imgur.com/AMZ2BEt.png" /><h3>Ben Caine</h3><br  /><br />
        <div class='centered-text'><p>Ben is Julia's younger brother, who taught her to relax in college when she was too high-strung. Ben and Ari bonded over computer things and both working for Alphabet companies.</p>
        </div>
      </div>

      </div>
  </div>


</div>

{% endblock %}
