{% extends 'blog/base.html' %}

{% block content %}
{% load static %}

<h1>Registry</h1>

<br />

<div class="row">
  <div class="col-sm-12 col-md-8 vcenter">
    <span><h3>Donating to charities</h3>
    <p>We are fortunate enough to have everything we need. A contribution to your favorite charity in our honor is a wonderful way to commemorate our special day. We have listed a few of our favorite charities below. All of our chosen charities have been recognized for using their donations effectively.</p>
    <p>
      Please <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ariandjuliagetmarried@gmail.com&su=Wedding Gift&body=Dear Ari and Julia, a donation has been given in your name to [FILL IN HERE]. We're wishing you all the best!& Change&body=">click here</a> to let us know that you're giving in our name! We don't have it set up to automatically tell us. Thank you!
    </p>
    </span>
  </div>
  <div class="col-sm-12 col-md-4 vcenter">
    <img class="image4" src="{% static 'photos/2015_Nov_apple_picking.jpg' %}">
  </div>
</div>

<p style="text-align: center"><a href="https://secure.ucsusa.org/onlineactions/dR5QqmX2uUCLCFD1KkVEzg2?MS=topnav">Union of Concerned Scientists</a>

<p>The Union of Concerned Scientists focuses on applying scientific research and methods to develop and implement innovative, practical solutions to the earth's most pressing problems, from slowing climate change to developing sustainable agriculture and transportation.</p>

<p style="text-align: center"><a href="https://www.eff.org/">The Electronic Frontier Foundation</a>

<p>The EFF is a nonprofit working to defend equal access to the internet. Currently, their main project is reinstating net neutrality, which kept access to all parts of the internet equally available.</p>

<br />

<div class="row">
  <div class="col-sm-12 col-md-4 vcenter">
    <img class="image4" src="{% static 'photos/2016_Sept_Oxford.jpg' %}" alt="https://imgur.com/FwQoPed.png">
  </div>
  <div class="col-sm-12 col-md-8 vcenter">
    <span><h3>Registry</h3>
      <p>If you would like to give a gift, we are registered with Honeyfund, a website that allows giving experiences in addition to physical things. (The whole John Lewis thing didn't work out - we didn't love their selection.) If you decide to give a donation to a charity in our name, please don't also get us a physical gift!</p>
      <p style="text-align: center"><a href="https://www.honeyfund.com/wedding/MarryAMorcos">Honeyfund</a>
    </span>
  </div>
</div>


{% endblock %}
