<head>
  <meta name="rsvp-1" content="This is the first RSVP page where guests input their names" />
</head>

{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<h1>RSVP</h1>
<div class="col-sm-12">
  <p>
    Please fill this form out once for each member of your party. If, at any point, you want to change your responses to any of the questions, please email us directly at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ariandjuliagetmarried@gmail.com&su=Update RSVP">ariandjuliagetmarried@gmail.com</a> .
  </p>
  <p>
    We also recommend booking your flights before submitting your RSVP. Flights can be expensive in July, and we don't want anyone to be taken by surprise!
  </p>
</div>


<form class="form-style" method="post">
  <div class="form-group">
    {% csrf_token %}
      {{ form }}
    <button class="btn btn-primary form-button">Submit</button>
  </div>
</form>

{% endblock %}
