{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

<h1>Schedule of Events</h1>

<div class="row">
  <div class="col-sm-12 col-md-6 vcenter">
    <span><h2>Shabbat Dinner</h2>
      <p>Claire and Dan Caine would like to invite you to join them for Shabbat dinner.</p>
      <span style="text-align:center">
        <p>Dinner will be held at a restaurant in the Pimlico area</p>
        <p>Friday, July 20th, 2018<p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2016_Dec_DescansoGardens.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 order-md-2 vcenter">
    <span><h2>Welcome Dinner</h2>
      <p>Tova Morcos and Jared Kliger would like to invite you to join us for dinner on Sunday, July 22nd.</p>
      <span style="text-align:center">
        <p><a href="https://www.swanlondon.co.uk/">The Swan Restaurant at the Globe Theater</a></p>
        <p>21 New Globe Walk, London SE1 9DT<p>
        <p>Sunday, July 22nd, 2018</p>
        <p>7:30 pm</p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 order-md-1 vcenter">
    <img class="image4" src="{% static 'photos/2017_Nov_SF.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 middle vcenter" style="padding-left:8%">
    <span><h2>The Wedding!</h2>
      <span style="text-align:center">
        <p>The ceremony and the reception are both at Syon Park</p>
        <p>4:00 pm ceremony</p>
        <p>4:30 pm cocktail reception<p>
        <p>5:30 pm dinner and dancing<p>
        <p>cake<p>
        <p>ice cream and midnight munchies<p>
        <p>11:00 pm the party is over<p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 vcenter">
    <img class="image4" src="{% static 'photos/2017_Nov_SF.jpg' %}">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 order-md-2 vcenter">
    <span><h2>Tuesday Brunch</h2>
      <p>We'll be having a casual brunch at our apartment on the morning after the wedding. We want to show you around our home!</p>
    <span style="text-align:center">
        <p>Tuesday, July 24th, 2018<p>
        <p>12:00 pm to 4:00 pm<p>
        <p>Flat A, 46 Langdon Park Road, N6 5QG<p>
        <p>Take the  High Barnet branch of the Northern Line (black) to the Highgate stop, then walk<p>
        <p>Or take an uber or a cab!<p>
      </span>
    </span>
  </div>
  <div class="col-sm-12 col-md-6 order-md-1 vcenter">
    <img class="image4 middle" src="{% static 'photos/2013_1_rock.jpg' %}">
  </div>
</div>

{% endblock %}
